@import "tailwindcss";

@config "../tailwind.config.js";

@font-face {
  font-family: "Chillax";
  src: url("../public/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-headings: "Satoshi", sans-serif
}