@import "tailwindcss";

@config "../tailwind.config.mjs";

@font-face {
  font-family: "Chillax";
  src: url("../public/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "JetbrainsMono";
  src: url("../public/fonts/JetBrainsMono-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  /* Fonts */
  --font-heading: "Satoshi", sans-serif;
  --font-content: "Chillax", sans-serif;
  --font-mono: "JetbrainsMono"
}

@layer base {
  .dark {
    --default: #dac5a7;
    --primary: #e0cfb6;
    --secondary: #f0ddc3;
    --success: #97d7d9;
    --warning: #f2dec7;
    --danger: #ff9eab;
    --background: #0e0e0e;
    --background-secondary: #1a1a1a;
    --background-tertiary: #dac5a705;
    --border: #dac5a715;
    --foreground: #dac5a7;
    --inverse: #1d1e1f;
  }
}

/* Base prose overrides */
.prose {
  --tw-prose-body: var(--foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-links: var(--primary);
  --tw-prose-bold: var(--foreground);
  --tw-prose-counters: var(--primary);
  --tw-prose-bullets: var(--primary);
  --tw-prose-quotes: var(--primary);
  --tw-prose-code: var(--primary);
  --tw-prose-pre-bg: var(--background-secondary);
  --tw-prose-pre-code: var(--primary);
}

/* Dark mode */
.dark .prose {
  --tw-prose-body: var(--foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-links: var(--primary);
  --tw-prose-bold: var(--foreground);
  --tw-prose-quotes: var(--primary);
  --tw-prose-code: var(--primary);
  --tw-prose-pre-bg: var(--background-secondary);
  --tw-prose-pre-code: var(--primary);
}


@layer components {
  .page-heading {
    @apply font-heading text-7xl  mb-2 lg:mb-8 text-center
  }

  .page-heading-subtitle {
    @apply font-content font-light text-sm mb-8 lg:mb-16 text-center
  }

  .section {
    @apply flex flex-col items-center pt-16 justify-around
  }
}
